/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MAPHONG]
      ,[TENPHONG]
      ,[LOAIPHONG]
      ,[TENKHACHHANG]
      ,[GIOITINH]
      ,[SDT]
      ,[NGAYTHUE]
      ,[NGAYTRA]
      ,[DICHVUKHAC]
      ,[THANHTIEN]
  FROM [QUANLYKHACHSAN].[dbo].[DATPHONG]