/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MA]
      ,[TEN]
      ,[NGAY]
      ,[GIOITINH]
      ,[SDT]
      ,[EMAIL]
      ,[DIACHI]
      ,[CONGVIEC]
  FROM [QUANLYKHACHSAN].[dbo].[NHAN_VIEN]