/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MA]
      ,[TENTB]
      ,[SOLUONG]
      ,[TENKHACHHANG]
      ,[SDT]
      ,[GIOITINH]
      ,[NGAYBAN]
      ,[GIATIEN]
  FROM [QUANLYKHACHSAN].[dbo].[THIETBIDICHVU]